.map-name {
margin-top: 25px;
text-shadow: 2px 2px 4px #000;
font-family: 'Cinzel', serif;
}
.map-instructions {
  text-shadow: 2px 2px 4px #000;
}
.map-page-container {
display: flex;
flex-direction: column;
align-items: center;
background-color: #153243;
color: whitesmoke;
}
.map-container {
  margin-top: 50px;
  margin-bottom: 80px;
  border: 5px solid whitesmoke;
  }
.poi-popup-title {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  font-family: 'Cinzel', serif;
}

.poi-popup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  height: auto;
  color: whitesmoke;
  font-family: 'Fauna One', sans-serif;
  background-color: #153243;

}

.poi-popup-subtitle {
  font-size: 16px;
  color: whitesmoke;
  overflow: auto;
  max-height: 60px;
}

.poi-popup-subtitle::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.leaflet-container {
  height: 80vh;
  width: 80vw;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #153243 !important;
}
.leaflet-popup {
  background-color: transparent;
}

.poi-delete-modal-body, .poi-add-modal-body {
  display: flex;
  justify-content: center;
  background-color: #153243;
  font-family: 'Fauna One', sans-serif;
  color: whitesmoke;
}

.poi-delete-modal-header, .poi-delete-modal-footer, .poi-add-modal-header, .poi-add-modal-footer {
background-color: #284B63;
font-family: 'Fauna One', sans-serif;
color: whitesmoke;
}