.campaign-instructions {
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 4px #000;
  margin-top: 0;
}
.campaign-container {
    text-align: center;
    height: 105vh;
    background: #153243;
    color: whitesmoke;
}
.campaign-description {
  max-height: 72px;
  overflow: auto;
}
.campaign-description::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
.container {
  max-width: 1320px;
  max-height: 915px;
}
.circle-button {
  border-radius: 50%;
  width: 40px; 
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: gold;
}
.campaign-card {
  width: auto;
  height: 28vh;
  margin-bottom: 15px;
  background-color: #B4B8AB;
  border: 3px solid #EEF0EB;
}
.campaign-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fauna One', sans-serif;
}
.add-campaign-card {
  height: 32vh;
  width: 21.75vw;
  background-image: url("https://img.freepik.com/free-vector/old-nautical-map-template_225004-981.jpg?w=1060&t=st=1691526607~exp=1691527207~hmac=c18c67fa1c65354c13737909dc8b2c372cc386ea3dfaf8d69a4c8aa478b8a0c1");
  background-size: cover;
  margin-bottom: 25px;
}
.add-campaign-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  height: 100%;
  font-family: 'Fauna One', sans-serif;
}
.add-campaign-title {
 font-size: 34px;
 text-shadow: 2px 2px 4px #ffffff;
 font-family: 'Cinzel', serif;
}
.campaign-title {
  margin-top: 10px;
  justify-content: center;
  color: whitesmoke;
 text-shadow: 1px 1px 2px #000000
}
.campaign-input {
  margin: 10px 0;
  padding: 10px;
  width: 400px;
  box-sizing: border-box;
  font-family: 'Fauna One', sans-serif;
}
.campaign-row {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
/* campaignForm.css */
.campaign-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #153243;
  color: white;
  text-shadow: 2px 2px 4px #000;
  font-family: 'Fauna One', sans-serif;

}

.campaign-form .form-group {
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.campaign-form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #000

}

.campaign-form .form-group label {
  font-size: 16px;
  font-weight: bold;
}

.campaign-form .form-group label[for="map-image"] {
  display: block;
  cursor: pointer;
  background-color: goldenrod;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.campaign-form .form-group p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.campaign-form .btn-primary {
  background-color: goldenrod;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 2px 2px 4px #000;
}

.campaign-form .btn-primary:hover,
.campaign-form .btn-primary:focus {
  background-color: goldenrod;
  outline: none;
}


.campaign-form .btn-primary:hover,
.campaign-form .btn-primary:focus {
  background-color: goldenrod; /* Replace with your preferred color */
  outline: none;
}

.button-group {
  margin-right: 10px;
  display: flex;
  margin-top: 8px;
}

.map-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.map-select-modal-body {
  display: flex;
  justify-content: center;
  background-color: #153243;
  font-family: 'Fauna One', sans-serif;
}

.campaign-delete-modal-body {
  display: flex;
  justify-content: center;
  background-color: #153243;
  font-family: 'Fauna One', sans-serif;
  color: whitesmoke;
}

.map-select-modal-header, .map-select-modal-footer, .campaign-delete-modal-header, .campaign-delete-modal-footer {
background-color: #284B63;
font-family: 'Fauna One', sans-serif;
}

.campaign-edit-goback-button {
  margin-left: 30px;
}


/* #021f54 background*/
/* 004e63 header*/
/* https://img.freepik.com/free-vector/old-nautical-map-template_225004-981.jpg?w=1060&t=st=1691526607~exp=1691527207~hmac=c18c67fa1c65354c13737909dc8b2c372cc386ea3dfaf8d69a4c8aa478b8a0c1 */