

.landing-container {
  background-color: #153243;
    background-size: cover;
    background-image: "";
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  .legend-landing-header {
    font-size: 12rem;
    color: goldenrod;
    text-shadow: 2px 2px 4px #000;
  }
  .lore-landing-header {
    margin-left: 15%;
    font-size: 8rem;
    color: goldenrod;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 5%
  }