.login-container {
    text-align: center;
    background-color: 153243;
    height: 100vh;
    padding: 20px;
  }
  
  .legend-header {
    font-size: 10rem;
    color: gold;
    text-shadow: 2px 2px 4px #000;
    padding-top: 35px;
  }
  .lore-header {
    margin-left: 15%;
    font-size: 7rem;
    color: gold;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 5%
  }
  
  .login-form {
    width: 80%;
    margin: 0 auto;
  }
  
  .email-label {
    font-size: 1.2rem;
    color: white;
  }
  
  .email-input {
    width: 35%;
    padding: 10px;
    margin: 10px auto;
  }
  
  .login-button-container {
    margin-top: 20px;
  }
  
  .login-button {
    background-color: gold;
    color: black;
  }
  
  .register-link {
    color: white;
    margin-top: 10px;
  }
  